.imgViewer-array {
    display: flex;
    overflow: auto;
}
.imgViewer-container {
    width: 100%;
}
.imgViewer-container img {
    object-fit: cover;
    padding: 1px;
    width: 100%;
}
.first-preview {
    display: flex;
    width: 100%;
    justify-content: center;
}
.first-preview img {
    width: 100%;
}
.imgViewer-array img {
    width: 20%;
    cursor: pointer;
    height: 10em;
}