form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-container { 
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
form input.submit {
    border: none;
    border-radius: 5px;
    color: var(--main-color-primary);
    background-color: var(--main-color-blue);
    width: 50%;
    padding: 0.75em 1em;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
}
form input.submit:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.form h2 {
    margin: 0;
    padding: 0.5em 0 1em 0;
    color: var(--main-color-secondary);
    /* opacity: 0.7; */
    border-bottom: 1px solid var(--main-color-secondary);
}
.out-layer {
    margin: 1.5em auto;
}
.form {
    /* border: 2px solid var(--main-color-gray); */
    border-radius: 15px;
    box-shadow: 0px 0px 72px -22px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 72px -22px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 72px -22px rgba(0,0,0,0.3);
    padding: 1em;
    display: flex;
    width: 500px;
    flex-direction: column;
}
.form div {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}