.user-container {
	display: flex;
	height: 100%;
}
.user-container .outlayer {
	margin: auto;
	display: flex;
	padding: 1em;
	width: 60%;
	background-color: var(--main-color-primary);
	box-shadow: 0px 0px 72px -22px rgb(0 0 0 / 30%);
	position: relative;
}
.user-container .outlayer .img-container {
	width: 30%;
}
.img-container img {
	width: 100%;
}
.body-container {
	padding: 0.25em 1em;
	width: 60%;
	margin-left: 1em;
	border-left: 2px solid var(--main-color-secondary);
}
.body-container .info-bar {
	padding: 0.75em 0.5em;
	width: 100%;
}
.body-container .info-bar:first-child {
	padding-top: 0.25em;
}
.body-container .info-bar:last-child {
	padding-bottom: 0.25em;
}
.body-container .info-bar label {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0.25em;
	display: block;
}
.body-container .info-bar p {
	margin: 0;
	padding: 0.5em;
	border: 2px solid var(--main-color-gray);
	border-radius: 5px;
}
.buttons {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 0.5em;
	margin-top: 0.75em;
}
.buttons button {
	margin-bottom: 0.5rem;
	padding: 0.75rem;
	border: none;
	background-color: var(--main-color-green);
	/* margin-right: 0.5em; */
	cursor: pointer;
	border-radius: 5px;
	color: var(--main-color-primary);
	transition: 0.1s ease-in-out;
}
.buttons button:hover {
	box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 23%);
}
@media only screen and (max-width: 800px) {
	.user-container .outlayer {
		flex-direction: column;
		width: 100%;
	}
	.body-container {
		box-sizing: border-box;
		width: 100%;
	}
	.buttons {
		flex-direction: column;
		width: 100%;
	}
	.buttons button {
		margin-right: 0;
		margin-right: 0;
		margin-bottom: 0.5rem;
		padding: 0.75rem;
	}
}
