.body {
    overflow: hidden;
    background-image: url("https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%;
    /* background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten; */
}
.body p {
    margin-left: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.body .main-text-container {
    margin: 4em 1em;
    position: relative;
}
.body .main-text-container > div:nth-child(1) {
    width: 70%;
    margin: auto;
    z-index: 2;
    display: flex;
}
.body .main-text-container div h1 {
    font-size: 40px;
    margin-top: 0;
}
.body .main-text-container div p {
    margin-bottom: 0.5em;
    line-height: 1.5;
}
.body .main-text-container > div:nth-child(1) > div:nth-child(1) {
    margin-right: 1em;
    background-color: white;
    padding: 1em;
    flex: 1;
}
/* main text side pannel */ 
.main-text-side-pannel-container {
    display: flex;
    flex-direction: column;
}
.main-text-side-pannel-container h3 {
    margin-top: 0;
}
.main-text-side-pannel-container span {
    text-decoration: underline;
    cursor: pointer;
}
.main-text-side-pannel-container div {
    margin-bottom: 1em;
    background-color: white;
    padding: 1em;
}
.main-text-side-pannel-container div:last-child {
    margin-bottom: 0;
}
/* footer */
.footer {
    background-color: var(--main-color-dark-grey);
    color: var(--main-color-primary);
    display: flex;
    flex-direction: row;
    padding: 1em;
    padding-bottom: 2em;
}
.footer > div {
    flex: 1;
}
.footer > div h3 {
    margin-top: 0;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    border-bottom: 1px solid var(--main-color-primary);
}
.footer > div p {
    line-height: 1.5;
}
/* items-container */
.items-container {
    padding: 1em 0.5em 0 0.5em;
    background-color: var(--main-color-bg);
}
.items-container h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-left: 0.25em;
    font-size: 24px;
    display: flex;
}
.items-container > div:nth-child(2) {
    border-top: 2px solid var(--main-color-gray);
    padding-top: 1em;
}
.items-container span {
    font-size: 16px;
    text-decoration: underline;
    font-weight: normal;
    margin: auto;
    margin-left: 1em;
    cursor: pointer;
    opacity: 0.5;
}
.items-container span:hover {
    opacity: 1;
}