.navbar {
    display: flex;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid var(--main-color-gray);
    background-color: var(--main-color-secondary);
}
.navbar a {
    text-decoration: none;
    color: var(--main-color-primary);
}
p {
    margin: auto 1em;
}