:root {
  --main-color-primary: #fff;
  --main-color-secondary: #022b3a;
  --main-color-gray: #e5dfdf;
  --main-color-blue: #008aff;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.main > div:nth-child(1) {
  min-height: 50px;
}