body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  min-height: 100vh;
}
textarea, input, button, select { font-family: inherit; font-size: inherit; }
